body {
    background:#F4EFE2;
    color:#333;
    font-family:arial,sans-serif;
    font-size:125%;
    text-align:center;
}

h1 {
    color:#A9001E;
    font-size:150%;
    border-bottom:3px solid #A9001E;
}

#wrapper {
    max-width:700px;
    width:100%;
}

.logo {
    margin:0 auto 1em auto;
    max-width:100%;
}

#countdown {
    color:#C32800;
    display: inline-block;
    font-weight:bold;
    font-size:125%;
    text-align: center;
    vertical-align:top;
}

    #countdown:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    #countdown p {
        margin-bottom:.5em;
    }

    #countdown .time {
        font-size:200%;
    }

.button {
    width:auto;
    margin:0 auto;
}
    .button a {
        background:#C32800;
        color:#fff;
        display:block;
        font-size:125%;
        font-weight:bold;
        margin:2em auto;
        padding:1em 2em;
        text-decoration:none;
    }